body,html{
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

h1,h2,h3,h4{
  font-family: 'Roboto', sans-serif;
}

h2.page-title{
  font-family: 'Russo One', sans-serif;
  font-size: 66px;
  letter-spacing: 40px;
  text-align: center;
  text-transform: uppercase;
}
.navbar-default .navbar-brand {
  font-family: 'Russo One', sans-serif;
  color: #bbb9b9;
  letter-spacing: 4px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 20px;
}
@media (max-width:768px) {
  h2.page-title{
    font-size: 50px;
    letter-spacing: 10px;
  }
}
body{
  padding-top: 70px;
  padding-bottom: 70px;
}

#app{
  width:100%;
  height: 100%;
}

.main-container{
  position: relative;
}

.map-wrapper{
  opacity: 0;
  position: fixed;
  bottom:0;
  left:0;
}

#map{
  width: 400px;
  height: 200px;
}

footer{
  position: fixed;
  bottom: 0;
  right: 20px;
}

.checkin-item,.hotel-item{
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
}

.hotel-item{
  height:100px;
  width: 100%;
  padding:0;
}
.hotel-item .img-overlay{
  width: 100%;
  background-color: #000;
  opacity: 0.6;
  height:100px;
}
.hotel-item h4{
  margin-top: 10px;
  font-size: 12px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: center;
  position: absolute;
  top:0;
  left:0;
  opacity: 1;
  line-height:100px;
  text-transform: uppercase;
}
.hotel-item h4:hover{
  cursor: pointer;
}  

.hotel-item .image-overlay:hover{
  opacity: 1;
}

.checkin-item:hover, .hotel-item:hover{
  cursor: pointer;
}

.modal-mask {
  z-index: 200;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-body .date-input{
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to{
  opacity: 0;
}