body,html{
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

body{
  padding-top: 50px;
}

#app{
  width:100%;
  height: 100%;
}

.main-container{
  position: relative;
}

#map{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 100px;
  z-index: 999;
  opacity: 0;
}

footer{
  position: fixed;
  bottom: 0;
  right: 20px;
}

.checkin-item,.hotel-item{
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
}
.checkin-item:hover, .hotel-item:hover{
  cursor: pointer;
}

.modal-mask {
  z-index: 200;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-body .date-input{
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active for <2.1.8 */ {
  opacity: 0;
}